
<persistence> 
	<persistence-unit name="travelReservationsDatabase"> 
		<provider>org.hibernate.ejb.HibernatePersistence</provider> 	
		<jta-data-source>java:/DefaultDS</jta-data-source> 
		<properties> 
			<property name="hibernate.hbm2ddl.auto" value="update"/> 
		</properties> 
	</persistence-unit> 
</persistence>